<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users</title>
</head>
<body>
    <h2>All Users</h2>
    <table border="1">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="*{user.userID}"></td>
                <td th:text="*{user.username}"></td>
                <td th:text="*{user.email}"></td>
                <td th:text="*{user.role}"></td>
                <td th:text="*{user.phoneNumber}"></td>
                <td>
                    <a th:href="@{/users/{userID}(userID=${user.userID})}">View</a>
                    <span> | </span>
                    <a th:href="@{/users/update/{userID}(userID=${user.userID})}">Update</a>
                    <span> | </span>
                    <a th:href="@{/users/delete/{userID}(userID=${user.userID})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
