<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Reservations</title>
</head>
<body>
    <h2>All Reservations</h2>
    <table border="1">
        <thead>
            <tr>
                <th>Reservation ID</th>
                <!--<th>User ID</th>-->
                <th>Car ID</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="reservation : ${reservations}">
                <td th:text="*{reservation.reservationID}"></td>
                <!-- <td th:text="*{reservation.userID}"></td> -->
                <td th:text="*{reservation.car.carID}"></td>
                <td th:text="*{reservation.startDate}"></td>
                <td th:text="*{reservation.endDate}"></td>
                <td th:text="*{reservation.status}"></td>
                <td>
                    <a th:href="@{/reservations/{reservationID}(reservationID=${reservation.reservationID})}">View</a>
                    <span> | </span>
                    <a th:href="@{/reservations/update/{reservationID}(reservationID=${reservation.reservationID})}">Update</a>
                    <span> | </span>
                    <a th:href="@{/reservations/delete/{reservationID}(reservationID=${reservation.reservationID})}">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>
